{% extends "quiz/index.html" %}

{% block content %}



{% include "quiz/components/header.html"%}
<div class="form-wrapper">
	<div class="login-wrapper">
		<form action="" method="post" id="login-form">
    <h1 class="login-header">Login</h1> 
			{% csrf_token %} {{ form.as_p}}
            <div class="submit-section">			
	
          <input type="submit" value="login" />
                <span class="login-paragrah">
                   Don't have an account? <a href="{% url 'quiz:signup' %}">Signup</a>
                </span>
            </div>

    </form>
    
        
	</div>
</div>

{% include "quiz/components/footer.html"%}
{% endblock content %}
