{% extends "quiz/index.html" %} 
{% block content %} 
{% include "quiz/components/header.html"%}
{%load crispy_forms_tags %} 
<div class="form-wrapper">
	<div class="signup-wrapper container ">
		<form action="" method="post"  id="signup-form">
			{% csrf_token %}
			<h1 class="signup-title text-center text-uppercase m-3">Sign up</h1>

			{{ form|crispy}}

			<input
				type="submit"
				value="Signup"
				class="bg-dark text-white btn d-block my-4 px-4 py-2"
			/>
			<p>
				Already have an account?
				<a href="{% url 'quiz:login' %}">Login</a>
			</p>
		</form>
	</div>
</div>

{% include "quiz/components/footer.html"%}
 {% endblock content %}
