{% extends "quiz/index.html" %} 
{% block content %}
{% include "quiz/components/header.html"%}
<div class="form-wrapper">
	<div class="signup">
   		<form action="" method="post" class="signup-wrapper" id="signup-form">
			{% csrf_token %} 
       <h1 class="signup-title">Sign up</h1>
                         
      <div class="form-group">
           {{ form.username.label_tag }}
           {{ form.username }}
           {% if form.username.errors %}
        {% for error in form.username.errors %}
           <p class="error">{{error}}</p>
        {% endfor %}
          {% endif %}  
      </div>

    <div class="form-group">
       {{ form.email.label_tag }}
       {{ form.email }}
       {% if form.email.errors %}
       {% for error in form.email.errors %}
       <p class="error">{{error}}</p>
       {% endfor %}
      {% endif %}  
    </div>
    
    <div class="form-group">  
       {{ form.password1.label_tag }}
       {{ form.password1 }}
       {% if form.password1.errors %}
       {% for error in form.password1.errors %}
       <p class="error">{{error}}</p>
       {% endfor %}
      {% endif %}  
    </div>
    

  
    <div class="form-group">  
       {{ form.password2.label_tag }}
       {{ form.password2 }}
       {% for error in form.password2.errors %}
       <p class="error">invalid {{error}}</p>
       {% endfor %}
    </div>
        

			<input type="submit" value="Signup" />
        <p>
            Already have an account? <a href="{% url 'quiz:login' %}">Login</a>
		    </p> 
		</form>
       	</div>
</div>

{% include "quiz/components/footer.html"%} {% endblock content %}
