<header>
  <a href="/" class="logo">
    <p>Quizo</p>
  </a>

  <div class="burger">
    <input type="checkbox" name="" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu bx-sm" id="open"></i>
      <i class="bx bx-x bx-sm" id="close"></i>
    </label>
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="/" id="nav-links">home</a></li>
      <li><a href="#" id="nav-links">subject</a></li>
      <li><a href="/about" id="nav-links">about</a></li>
    </ul>
    <a href="/accounts/login" class="login-btn">Login</a>
  </nav>
</header>
