<div class="home-table d-flex justify-content-center flex-column ">
  {% if quizs %}
  <h3 class="text-center">📈 trending quiz</h3>
  <table class="home-table-margin table  table-striped">
    <tr>
      <th class="col">subject</th>
      <th class="col">quiz</th>
      <th class="col">popularity</th>
    </tr>
    {% for quiz in quizs%}
    <tr class="data-row">
      <td>{{quiz.subject}}</td>
      <td><a href="/quiz?q={{quiz.pk}}">{{quiz.title}}<a></td>
      <td>{{quiz.number}}</td>
    </tr>
    {% endfor%}
    </table>
    {%endif%}
</div>
