{% extends "quiz/index.html" %}


{% block content %}

{% include "quiz/components/header.html"%}
<div class="about-wrapper container-sm p-4">
  <h3 >About us</h3>
  <p>
    Welcome to Quizo, your go-to platform for engaging and interactive quizzes! At Quizo, we believe in the power of learning through fun and friendly competition. 
    Whether you're looking to challenge yourself with trivia, test your knowledge on a wide range of topics, or simply have a good time, Quizo has something for everyone. 
    Our mission is to make learning enjoyable by offering a variety of quizzes that cater to different interests and skill levels. With a user-friendly interface, seamless gameplay,
    and a constantly growing library of quizzes, Quizo is the perfect place to challenge your brain and have fun while doing it!
  </p>
  <div class="d-flex">
    <a href="https://github.com/Temesgendemeke/quizo"><i class="bi bi-github fs-3"></i></a>
    <a href="https://x.com/Temesgendora"><i class="bi bi-twitter-x"></i></a>
  </div>
</div>
{% include "quiz/components/footer.html"%}
{% endblock content%}
