{% extends "quiz/index.html" %}


{% block content %}

{% include "quiz/components/header.html"%}
<div class="about-wrapper">
  <h3>About us</h3>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum voluptatum hic soluta libero sit officiis, ipsam delectus tempore. Nostrum maxime cum molestias impedit voluptate quidem ipsa omnis laudantium ex soluta.
  Necessitatibus sapiente officia rerum facere blanditiis obcaecati, labore dolore dignissimos quidem unde ipsum natus, voluptatem provident explicabo, esse saepe laborum vero officiis exercitationem suscipit accusamus eveniet? Sunt cupiditate rerum praesentium.
  Quis modi ex nisi atque doloribus, error voluptatum veritatis iste iure facilis aliquid repellat molestiae rem tenetur minus, explicabo similique vitae, provident est amet? Enim id qui in tempora quo?
  Impedit voluptate id accusamus repellat atque praesentium enim, illum in optio vitae neque velit expedita alias ad suscipit ipsum nesciunt quos magni, quisquam nemo ex quam odit! Explicabo, voluptate hic?
  Veritatis provident facilis aliquid voluptatem neque sed perspiciatis voluptates quo? Reprehenderit labore libero eaque nihil dolore possimus consectetur ipsa ducimus quibusdam cupiditate placeat neque et quaerat, rerum id dicta. Maxime!</p>
</div>
{% include "quiz/components/footer.html"%}
{% endblock content%}
