{% extends "quiz/index.html" %}

{% block content %}

{% include "quiz/components/header.html"%}

<div class="dashboard">
  
    <div class="personal-info">
       <div>
         <p class="user">@{{request.user.username}}</p>
         <p>email: {{request.user.email}}</p>
       </div>
    </div>
    <div class="score-section">
      {% if quizs %}
      <table class="dashboard-table">
              <td>SUBJECT</td>
              <td>TITLE</td>
              <td>SCORE</td>
          </tr>
          {% for quiz in quizs%}
          <tr>
            <td>{{quiz.subject}}</td>
            <td><a href="">{{quiz.quiz.title}}</a></td>
            <td>{{quiz.score}}</td>
          </tr>
          {% endfor %}
      </table>
      {% else%}
         <h3 class="no-data">no data</h3>
      {% endif %}
    </div>
</div>

{% include "quiz/components/footer.html"%}
{% endblock content%}
